################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pharma_sales_and_management_system/.vs/pharma_sales_and_management_system
/pharma_sales_and_management_system/pharma_sales_and_management_system/obj
/pharma_sales_and_management_system/pharma_sales_and_management_system/appsettings.json
