################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pharma_sales_and_management_system/.vs/pharma_sales_and_management_system
/pharma_sales_and_management_system/pharma_sales_and_management_system/obj
/pharma_sales_and_management_system/.vs/ProjectEvaluation
/pharma_sales_and_management_system/pharma_sales_and_management_system/bin/Debug/net6.0/pharma_sales_and_management_system.exe
/pharma_sales_and_management_system/pharma_sales_and_management_system/.vs/pharma_sales_and_management_system/FileContentIndex
/pharma_sales_and_management_system/pharma_sales_and_management_system/.vs
