@model IEnumerable<pharma_sales_and_management_system.Models.MedicalShopProductStock>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_MedicalLayout";
}

<div class="container">
<h1>Medicine Stock</h1>

<table class="table" style="position:absolute;width:80%;">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.MedicalShop.OwnerName)*@
                Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Product.ProductName)*@
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
        </tr>
}
    </tbody>
</table>
</div>